html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
    vertical-align: baseline; 
} 
:focus { 
    outline: 0; 
} 
table { 
    border-collapse: separate; 
    border-spacing: 0; 
} 
caption, th, td { 
    text-align: left; 
    font-weight: normal; 
} 
a img, iframe { 
    border: none; 
} 
ol, ul { 
    list-style: none; 
} 
input, textarea, select, button { 
    font-size: 100%; 
    font-family: inherit; 
} 
select { 
    margin: inherit; 
} 
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */ 
ol { margin-left:2em; } 
/* == clearfix == */ 
.clearfix:after { 
    content: '.'; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
} 
.clearfix {display: inline-block;} 
* html .clearfix {height: 1%;} 
.clearfix {display: block;}

a{
    text-decoration: none;
    color: inherit;
}
/**************************************top*************************************/
body{
    background-color: #e9edf0;
    font-family: 'Microsoft Yahei';
}
.top{
    background-color: white;
    height:50px;
    width:100%;
    border-top: 3px solid #2d7cc9;
    border-bottom: 1px solid #ccc;
    b-webkit-box-shadow:0 0 10px #cCC;  
    -moz-box-shadow:0 0 10px #cCC;  
    box-shadow:0 0 10px #ddd; 
}
.container{
    width:850px;
    margin:0 auto;
    position: relative;
}
.top .container{
    height: 50px;
}
.top .logowrap {
    width: 132px;
    height: 40px;
    display: inline-block;
    padding-top: 10px;
}
.menu-item {
    float: left;
    color: #777;
    margin-left: 20px;
}
.menu-item a{
    display:inline-block;
    width:100%;
    text-decoration: none;
    padding-top: 2px;
}
.menu-item .fa{
    font-size: 21px;
    color: #aaa;
    line-height: 48px;
}
.menu-item .item-text {
    padding: 0px 10px 0px 3px;
    line-height: 17px;
    font-size: 15px;
    position: relative;
    top: -2px;
    color: #777;
}
.top-menus{
    position: absolute;
    right:0px;
    top: 0px;
}
.menu-item.active .fa,.menu-item.active .item-text{
    color: #3481cb;
}
/*********************************center***********************/
.main-content{
    margin-top: 40px;
}
.left-sidebar {
    float: left;
    width: 245px;
}
.center{
    margin-left: 255px;
}
.left-sidebar .left-block{
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom :12px;
}
.left-sidebar .user-info {
    padding: 10px;
}
.left-sidebar .user-img {
    float: left;
    width: 68px;
    height: 68px;
    overflow: hidden;
}
.left-sidebar .user-details {
    font-size: 12px;
    color: #999;
    margin-left: 85px;
    padding-top: 2px;
}
.left-sidebar .user-details .user-name{
    font-size: 16px;
    line-height: 25px;
    color:#555;
    font-weight:bold;
}
.left-sidebar .side-m-item.active{
    border-left:5px solid #3481cb;
}
.left-sidebar .side-m-item:hover{
    background:#e9edf0;
}
.left-sidebar .side-m-item.active a{
    color:#3481cb;
}
.left-sidebar .side-m-item a{
    display: block;
    width:100%;
    text-decoration: none;
    color: #555;
    padding: 7px 0 7px 15px;
    font-size: 14px;
    position: relative;
}
.left-sidebar .side-m-item .newaction:after{
    width: 6px;
    height: 6px;
    background: url("../img/redpointer.png") no-repeat;
    position: absolute;
    right: 190px;
    display: block;
    content: '.';
    font-size: 0px;
    top: 15px;
}
.left-sidebar .banji {
    font-size: 14px;
    color: #555;
    margin: 0px 10px 10px 10px;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}
.big-circle{
    background-color: red;
    width: 17px;
    height: 15px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    margin-left: 5px;
}
.left-sidebar .activity-block {
    font-size: 14px;
}
.left-sidebar .act-img {
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}
.left-sidebar .act-img a{
    display: block;
}
.left-sidebar .act-header {
    position: relative;
    padding : 8px 15px;
    border-bottom: 1px solid #ddd;
}
.left-sidebar .act-more{
    font-size: 12px;
    color: #999;
    text-decoration: none;
    position: absolute;
    right: 15px;
    top: 11px;
}
.left-sidebar .act-body{
    padding: 5px 15px 10px 15px;
}
.left-sidebar .act-time{
    color: #999;
}
.tools-block .tool-item {
    border-bottom: 1px solid #dedede;
}
.tools-block .tool-item:last-child{
    border-bottom: none;
}
.tools-block .tool-item a{
    padding: 8px 15px 5px 15px;
    display:block;
}
.tools-block .colorspan{
    width:25px;
    height:25px;
    display: inline-block;
}
.tools-block .tool-name {
    font-size: 13px;
    position: relative;
    top: -9px;
    margin-left: 7px;
}
.blue{background-color: #118de4;}
.orange{background-color: #e57359;}
.yellow{background-color: #e5c659;}

.class-name{
    padding: 10px;
}
.tags {
    display: inline-block;
    font-size: 13px;
    background: #e3f5fb;
    padding: 3px 10px;
    margin-right: 5px;
    margin-top: 5px;
}
.course-block .task-title{
    padding: 8px 15px;
    font-size: 14px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.course-block .task-item{
    border-bottom: 1px solid #dedede;
}
.course-block .task-item a{
    position: relative;
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    color: #555;
}
.course-block .course-teacher{
   position: absolute;
   right: 15px;
   top: 16px;
}
.course-block .task-seemore{
    padding: 8px 15px;
    font-size: 13px;
}
.course-block .task-seemore a{
    display: block;
    text-align: center;
}
/********************************************************/
.new-action-tip{
    background: #fff8bf;
    color: #ec7350;
    font-size: 12px;
    border: 1px solid #f1e0b7;
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
}
.right-block {
    background: white;
    margin-top: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.right-block .side-pic{
    display: inline-block;
    width: 55px;
    padding: 10px;
    overflow: hidden;
    vertical-align: top;
}
.right-block .side-pic img{
    width: 100%;
}
.right-block .right-content{
    display: inline-block;
    width:500px;
    padding: 10px 0 10px 0;
    word-wrap: break-word;
}
.right-block .pub-name {
    font-size: 14px;
}
.right-block .pub-info{
    font-size:13px;
    margin-top: 6px;
}
.right-block .pub-info a{
    color: #4087bd;
}
.right-block .pub-tip{
    color: #999;
    font-size: 13px;
    position: relative;
    margin-top: 10px;
}
.right-block .pub-tip .tip-comment{
    position: absolute;
    right: 50px;
    display: inline-block;
    width: 60px;
    text-align: center;
    border-right: 1px solid #eee;
    cursor: pointer;
}
.right-block .pub-tip .tip-comment.open{
    font-weight: bold;
}
.right-block .pub-tip .tip-collect{
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 55px;
    text-align: center;
    cursor: pointer;
}
.right-block .comments-wrap {
    background: #f5f5f5;
    border-top: 1px solid #d9d9d9;
    display:none;
}
.right-block .comments-wrap.open{
    display:block;
}
.right-block .input-area{
    padding: 10px 10px 10px 15px;
}
.right-block .input-area img{
    width: 32px;
    height: 32px;
    vertical-align: bottom;
}
.right-block .input-area input[type='text']{
    width: 415px;
    margin-left: 20px;
    margin-right: 5px;
    height: 29px;
    border: 1px solid #ddd;
    padding: 0 5px;
}
.right-block .input-area button{
    background: #ef7f25;
    color: white;
    padding:4px 20px;
    border: 1px solid #d15c06;
}
.right-block .comments-wrap ul{
    padding-left: 71px;
}
.right-block .comment-li{
    padding-bottom: 10px;
}
.right-block .comment-li img{
    width: 32px;
    height: 32px;
    float: left;
}
.right-block .comment-li .com-detail{
    margin-left: 40px;
    font-size: 12px;
}
.right-block .comment-li .com-name{
    color: #ef7f25;
}
.right-block .comment-li .com-info{
    padding-right: 10px;
}
.right-block .comment-li .com-time{
    color: #999;
}
.right-block .pub-pic-multiple img{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 8px;
    margin-top: 8px;
}
.right-block .pub-pic-multiple {
    width: 300px;
    margin-top: 5px;
}
.right-block .pub-pic-sigle{
    margin-top: 10px;
}
.right-block .pub-pic-sigle img{
    width: 120px;
}

.arrow {
display: inline-block;
position: absolute;
left: 50%;
bottom: 0;
margin: 0 0 0 -7px;
}
 .W_arrow_bor {
position: absolute;
top: -3px;
left: 0;
}
.W_arrow_bor_t i, .W_arrow_bor_t em {
_border-style: dashed dashed solid dashed;
border-top-color: transparent;
border-right-color: transparent;
border-left-color: transparent;
}
.W_arrow_bor i, .W_arrow_bor em {
display: inline-block;
width: 0;
height: 0;
border-width: 7px;
border-style: solid;
overflow: hidden;
font-size: 0;
line-height: 0;
vertical-align: top;
}
.W_arrow_bor em {
margin: 1px 0 0 -14px;
_margin: 1px 0 0 -14px;
}
.S_line1, .W_btn_prev, .W_btn_next, .W_btn_b {
border-color: #d9d9d9;
}
.S_bg1_br {
border-color: #f5f5f5;
}
.pub-tip .tip-comment .arrow{
    display:none;
}
.pub-tip .tip-comment.open .arrow{
    display: inline-block;
}
.text-orange{
    color: #ef7f25;
}
.pub-name-gray{
    color: #999;
    margin-left: 10px;
}
.footer {
    padding: 20px;
    background: white;
    font-size: 12px;
    color: #999;
}
.footer .fa {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}
.footer .about {
    line-height: 30px;
}
.footer .about a {
    margin-right: 15px;
}
/*************************************************/
.right-nav li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}
.right-nav li.active{
    color: #3481cb;
}
.right-nav li.newaction:after{
    width: 6px;
    height: 6px;
    background: url("../img/redpointer.png") no-repeat;
    position: absolute;
    right: -10px;
    display: block;
    content: '.';
    font-size: 0px;
    top: 2px;
}
.right-nav {
    height: 20px;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
}
.question-block .qurestion-title {
    padding: 15px 10px;
    font-size: 16px;
}
.question-block .question-content {
    padding: 0 10px;
}
.question-block .question-info{
    position: relative;
}
.question-block .question-info img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.question-block .question-info {
    padding: 10px 10px 5px;
}
.question-block .question-info .question-owner,.question-block .question-info .question-time{
    position: relative;
    top: -10px;
}
.question-block .question-info .question-time{
    color: #999;
    margin-left: 5px;
}
.question-block .question-info .question-comment{
    position: absolute;
    right: 16px;
    top: 20px;
    cursor: pointer;
}
.question-comment .fa{
    color: #999;
    margin-right: 5px;
    font-size: 18px;
    margin-left: 20px;
}
.question-comment .arrow{
    display: none;
}
.question-comment.open .arrow{
    display: inline-block;
}
.right-block .comments-wrap .input-area .input-no-img {
    width: 444px;
    margin-left: -2px;
}
.input-pic-area {
    padding: 0 15px 10px 15px;
    color: #666;
    cursor: pointer;
    margin-top: -5px;
    border-bottom: 1px solid #ddd;
}
.right-block .comments-wrap .answer-ul{
    padding: 0;
}
.right-block .answer-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0 0;
    font-size: 12px;
}
.answer-item .question-info {
    padding: 5px 10px;
}
